@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Figtree-Regular";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../public/fonts/Figtree-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Figtree-Medium";
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../public/fonts/Figtree-SemiBold.ttf") format("truetype");
}

.desktop-view {
  width: calc(100%);
}

* {
  font-family: "Figtree-Regular", Arial, Helvetica, sans-serif;
}

body {
  background-color: #f5f5f5;
}
